.task-view {
    -fx-background-color: white;
    -fx-background-radius: 4;

    -fx-padding: 2;

    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-border-radius: 4;
}

.task-view .text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-padding: 2;

    -fx-font-family: "Segoe UI", "Arial", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.task-view:focus-within {
    -fx-border-color: red;
}